<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User Deleted</h1>
    <p>
      User <%= @user.first_name %> has been deleted from this application.
    </p>
  </body>
</html>
